{{define "admin_grids_articles"}}
    <!DOCTYPE html>
    <html lang="en">
    {{template "admin_partial_head" .}}
    <body>
    <div class="container-scroller">
        {{template "admin_partial_navigation" .}}
        <div class="container-fluid page-body-wrapper">
            {{template "admin_partial_sidebar" .}}
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="d-flex justify-content-between flex-wrap">
                                {{/*                                <div class="d-flex align-items-end flex-wrap">*/}}
                                {{/*                                    <div class="mr-md-3 mr-xl-5">*/}}
                                {{/*                                        <h2>Welcome back,</h2>*/}}
                                {{/*                                        <p class="mb-md-0">Your analytics dashboard template.</p>*/}}
                                {{/*                                    </div>*/}}
                                {{/*                                    {{template "admin_partial_breadcrumbs" .}}*/}}
                                {{/*                                </div>*/}}

                                <div class="d-flex justify-content-between align-items-end flex-wrap">
                                    <a class="btn btn-primary mt-2 mt-xl-0" href="{{.create_url}}">Add admin</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title">Recent Purchases</p>
                                    <div class="table-responsive">
                                        <table id="recent-purchases-listing" class="table">
                                            <thead>
                                            <tr>
                                                <th>ObjectId</th>
                                                <th>Name</th>
                                                <th>Login</th>
                                                <th>IsDeleted</th>
                                                <th>CreateTime</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{range .items}}
                                                <tr>
                                                    <td><a href="{{.get_url }}">{{.user.ObjectId.Hex }}</a></td>
                                                    <td>{{.user.Name}}</td>
                                                    <td>{{.user.Login}}</td>
                                                    <td>{{.user.IsDeleted}}</td>
                                                    <td>{{.user.CreateTime}}</td>
                                                    <td><a data-href-del="{{.del_url}}" data-action="del"><i class="mdi mdi-delete"></i></a></td>
                                                </tr>
                                            {{end}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{template "admin_partial_footer"}}
            </div>
        </div>
    </div>
    {{template "admin_partial_scripts" .}}
    </body>
    </html>
{{end}}