{{define "admin_grids_dashboard"}}
<!DOCTYPE html>
<html lang="en">
    {{template "admin_partial_head" .}}
    <body>
    <div class="container-scroller">
        {{template "admin_partial_navigation" .}}
        <div class="container-fluid page-body-wrapper">
            {{template "admin_partial_sidebar" .}}
            <div class="main-panel">
                <div class="content-wrapper">
                    {{/*<div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="d-flex justify-content-between flex-wrap">
                                <div class="d-flex align-items-end flex-wrap">
                                    <div class="mr-md-3 mr-xl-5">
                                        <h2>Welcome back,</h2>
                                        <p class="mb-md-0">Your analytics dashboard template.</p>
                                    </div>
                                    {{template "admin_partial_breadcrumbs" .}}
                                </div>
                                */}}
                </div>
                {{template "admin_partial_footer"}}
            </div>
        </div>
    </div>
    {{template "admin_partial_scripts" .}}
    </body>
</html>
{{end}}