{{define "admin_partial_breadcrumbs"}}
    <div class="d-flex">
        <i class="mdi mdi-home text-muted hover-cursor"></i>
        <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;</p>
        <p class="text-primary mb-0 hover-cursor">Analytics</p>
    </div>
{{end}}