{{define "admin_partial_head"}}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>GoPureBlog Admin</title>
        <link rel="stylesheet" href="/admin/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="/admin/vendors/base/vendor.bundle.base.css">
        <link rel="stylesheet" href="/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="/admin/css/style.css">
    </head>
{{end}}