{{define "admin_partial_scripts"}}
    <script src="/admin/vendors/base/vendor.bundle.base.js"></script>
    <script src="/admin/vendors/chart.js/Chart.min.js"></script>
    <script src="/admin/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="/admin/js/off-canvas.js"></script>
    <script src="/admin/js/hoverable-collapse.js"></script>
    <script src="/admin/js/template.js"></script>
    <script src="/admin/js/dashboard.js"></script>
    <script src="/admin/js/data-table.js"></script>
    <script src="/admin/js/jquery.dataTables.js"></script>
    <script src="/admin/js/dataTables.bootstrap4.js"></script>

    <script>

        $(document).ready(function(){
            $("[data-action='del']").click(function(e){
               e.preventDefault();
               if(confirm("Are you sure want to delete this user?")) {
                   console.log($(this));
                   url = $(this).attr("data-href-del");
                   console.log(url);
                   $.ajax({
                       method: "post",
                       url,
                   }).done(function (msg) {
                       alert("Record deleted");
                   });
               }
            });
        });

    </script>
{{end}}