{{define "admin_partial_sidebar"}}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        {{range .navigation.Items}}
            <li class="nav-item {{if eq .Route $.requestUri}} active {{end}}">
                <a class="nav-link" href="{{.Route}}">
                    <i class="mdi {{.Icon}} menu-icon"></i>
                    <span class="menu-title">{{.Name}}</span>
                </a>
            </li>
        {{end}}

    </ul>
</nav>
{{end}}