{{define "admin_form_admin"}}
<!DOCTYPE html>
<html lang="en">
{{template "admin_partial_head" .}}
<body>
<div class="container-scroller">
    {{template "admin_partial_navigation" .}}
    <div class="container-fluid page-body-wrapper">
        {{template "admin_partial_sidebar" .}}
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="d-flex justify-content-between flex-wrap">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Default form</h4>
                                <p class="card-description">
                                    Basic form layout
                                </p>
                                <form class="forms-sample" method="post" action="{{.action_url}}">
                                    <div class="form-group">
                                        <label for="exampleInputUsername1">Name</label>
                                        <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username" name="name" value="{{.item.Name}}" autocomplete="false">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Login</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Login" name="login" value="{{.item.Login}}" autocomplete="false">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" autocomplete="false">
                                    </div>
                                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                    <button class="btn btn-light" type="reset">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{template "admin_partial_footer"}}
        </div>
    </div>
</div>
{{template "admin_partial_scripts" .}}
</body>
</html>
{{end}}